[submodule "bundle/solarized"]
	path = bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "bundle/airline"]
	path = bundle/airline
	url = https://github.com/bling/vim-airline
[submodule "bundle/flake8"]
	path = bundle/flake8
	url = https://github.com/nvie/vim-flake8
[submodule "bundle/sensible"]
	path = bundle/sensible
	url = git@github.com:tpope/vim-sensible.git
[submodule "bundle/latex-box"]
	path = bundle/latex-box
	url = git@github.com:LaTeX-Box-Team/LaTeX-Box.git
[submodule "bundle/screen"]
	path = bundle/screen
	url = git@github.com:ervandew/screen.git
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "bundle/vim-jsx"]
	path = bundle/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
[submodule "bundle/elm-vim"]
	path = bundle/elm-vim
	url = git@github.com:ElmCast/elm-vim.git
[submodule "bundle/git-vim"]
	path = bundle/git-vim
	url = git@github.com:tpope/vim-git.git
[submodule "bundle/typscript-vim"]
	path = bundle/typscript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "bundle/vim-nix"]
	path = bundle/vim-nix
	url = git@github.com:LnL7/vim-nix.git
[submodule "bundle/vim-autopep8"]
	path = bundle/vim-autopep8
	url = git@github.com:tell-k/vim-autopep8.git
[submodule "bundle/solarized8"]
	path = bundle/solarized8
	url = https://github.com/lifepillar/vim-solarized8.git
[submodule "bundle/vim-go"]
	path = bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "bundle/Nvim-R"]
	path = bundle/Nvim-R
	url = https://github.com/jalvesaq/Nvim-R.git
